<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card-body mt-4">
            <img src="./img/logo.jpg" class="avatar" alt="Avatar Image">
            <h1>SingIN</h1>
            <form action="/signin" method="POST">
                <div class="form-group">
                    <!-- USERNAME INPUT -->
                    <label for="username" >Username</label>
                    <input type="email" name="email" placeholder="Insert Email" class="form-control">
                </div>
                <div class="form-group">
                    <!-- PASSWORD INPUT -->
                    <label for="password">Password</label>
                    <input type="password" name="password" placeholder=" Insert Password" class="form-control">
                </div>
                <button type="submit" class="btn btn-dark btn-block">
                    SignIN
                </button>
                <a href="/" class="aloging">Lost your Password?</a>
                <br>
                <a href="/signup" class="aloging">Don't have an account?</a>
            </form>
        </div>
    </div>
</div>