<div class="card-header bg-dark">
    <h3 class="card-title text-white">
        <i class="fas fa-photo-video"></i> Upload and Image
    </h3>
</div>
<div class="post-topbar">
    <div class="user-picy">
        <img src="http://via.placeholder.com/100x100" alt="">
    </div>
    <div class="post-st">
        <ul>
            <button class="btn btn-success" id="btn-post">
                Post a image
            </button>
        </ul>
    </div>
</div>